<div class="mt-4">
    <form method="get" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Search Name</label>
            <input type="text" name="fullName" class="form-control" id="search-input" placeholder="Enter name">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>